USE [SalesDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Vanzariv2](
	[InvoiceNo] [nvarchar](50) NOT NULL,
	[DateKey] [int] NULL,
	[StockCode] [nvarchar](50) NOT NULL,
	[CustomerID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [float] NULL,
	[LineTotal] [float] NULL,
	[FactID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_fact_Vanzariv2] PRIMARY KEY CLUSTERED 
(
	[FactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_Vanzariv2]  WITH CHECK ADD  CONSTRAINT [FK_fact_Clientiv2] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[dim_Clientiv2] ([CustomerID])
GO
ALTER TABLE [dbo].[fact_Vanzariv2] CHECK CONSTRAINT [FK_fact_Clientiv2]
GO
ALTER TABLE [dbo].[fact_Vanzariv2]  WITH CHECK ADD  CONSTRAINT [FK_fact_Datev2] FOREIGN KEY([DateKey])
REFERENCES [dbo].[dim_Datev2] ([DateKey])
GO
ALTER TABLE [dbo].[fact_Vanzariv2] CHECK CONSTRAINT [FK_fact_Datev2]
GO
ALTER TABLE [dbo].[fact_Vanzariv2]  WITH CHECK ADD  CONSTRAINT [FK_fact_Produsev2] FOREIGN KEY([StockCode])
REFERENCES [dbo].[dim_Produsev2] ([StockCode])
GO
ALTER TABLE [dbo].[fact_Vanzariv2] CHECK CONSTRAINT [FK_fact_Produsev2]
GO
