USE [master]
GO

CREATE DATABASE [SalesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesDB', FILENAME = N'D:\slqserver\MSSQL16.SQLEXPRESS\MSSQL\DATA\SalesDB.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SalesDB_log', FILENAME = N'D:\slqserver\MSSQL16.SQLEXPRESS\MSSQL\DATA\SalesDB_log.ldf' , SIZE = 401408KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Clienti](
	[CustomerID] [int] NOT NULL,
	[Country] [nvarchar](100) NULL
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Clientiv2](
	[CustomerID] [int] NOT NULL,
	[Country] [nvarchar](100) NULL,
 CONSTRAINT [PK_dim_Clientiv2] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Date](
	[DateKey] [int] NULL,
	[Date] [date] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[MonthName] [nvarchar](30) NULL,
	[Day] [int] NULL
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Datev2](
	[DateKey] [int] NOT NULL,
	[Date] [date] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[MonthName] [nvarchar](30) NULL,
	[Day] [int] NULL,
 CONSTRAINT [PK_dim_Datev2] PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Produse](
	[StockCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_Produsev2](
	[StockCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_dim_Produsev2] PRIMARY KEY CLUSTERED 
(
	[StockCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Vanzari](
	[InvoiceNo] [nvarchar](50) NULL,
	[DateKey] [int] NULL,
	[StockCode] [nvarchar](50) NULL,
	[CustomerID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [float] NULL,
	[LineTotal] [float] NULL
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_Vanzariv2](
	[InvoiceNo] [nvarchar](50) NOT NULL,
	[DateKey] [int] NULL,
	[StockCode] [nvarchar](50) NOT NULL,
	[CustomerID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [float] NULL,
	[LineTotal] [float] NULL,
	[FactID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_fact_Vanzariv2] PRIMARY KEY CLUSTERED 
(
	[FactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineRetail](
	[InvoiceNo] [nvarchar](50) NULL,
	[StockCode] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[Quantity] [int] NULL,
	[InvoiceDate] [datetime2](7) NULL,
	[UnitPrice] [float] NULL,
	[CustomerID] [int] NULL,
	[Country] [nvarchar](100) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_Vanzariv2]  WITH CHECK ADD  CONSTRAINT [FK_fact_Clientiv2] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[dim_Clientiv2] ([CustomerID])
GO
ALTER TABLE [dbo].[fact_Vanzariv2] CHECK CONSTRAINT [FK_fact_Clientiv2]
GO
ALTER TABLE [dbo].[fact_Vanzariv2]  WITH CHECK ADD  CONSTRAINT [FK_fact_Datev2] FOREIGN KEY([DateKey])
REFERENCES [dbo].[dim_Datev2] ([DateKey])
GO
ALTER TABLE [dbo].[fact_Vanzariv2] CHECK CONSTRAINT [FK_fact_Datev2]
GO
ALTER TABLE [dbo].[fact_Vanzariv2]  WITH CHECK ADD  CONSTRAINT [FK_fact_Produsev2] FOREIGN KEY([StockCode])
REFERENCES [dbo].[dim_Produsev2] ([StockCode])
GO
ALTER TABLE [dbo].[fact_Vanzariv2] CHECK CONSTRAINT [FK_fact_Produsev2]
GO
USE [master]
GO
